body {
  background-color: #ebeced;
}
footer {
  margin-top: 1rem;
}
footer p {
  text-align: center;
  font-style: italic;
  font-size: 0.75rem;
}
.card {
  width: 50%;
  margin: auto;
  margin-top: 3rem;
  max-width: 600px;
}
.card-text em {
  background-color: yellow;
}
dl {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  list-style-type: none;
  background-color: #f1efef;
  padding-top: 20px;
  padding-bottom: 20px;
}
