body {
  background-color: #ebeced;
}
footer {
  margin-top: 90vh;
  height: 10vh;
}
footer p {
  text-align: center;
}
.card {
  width: 50%;
  margin: auto;
  margin-top: 3rem;
  max-width: 600px;
}
